* {
    padding: 0;
    margin: 0;
    // border: 1px solid red;
}

html {
    // border: 10px solid $board;
    // border-bottom: 25px solid $board;
    // border-left-style: inset;
    // border-right-style: outset;
}

body {
    color: $chalkColor;
    border: 10px solid $board;
    border-bottom: 25px solid $board;
    border-left-style: inset;
    border-right-style: outset;
}

.game {
    background-image: url('../assets/chalkboardGreen.jpg');
    background-size: cover;
    height: 94.25vh;
    position: relative;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.word {
    width: 100%;
    display: flex;
    justify-content: center;
}

.letters {
    width: 100px;
    height: 30px;
    text-align: center;
    border-bottom: 1px solid $chalkColor;
    margin: 5px;
    color: transparent;
}

.lettersGuessed {
    color: $chalkColor;
}

.options {
    text-align: center;
    padding: 15px 0 30px;
}

.line {
    border-bottom: 1px solid $chalkColor;
}