.title,
.reportCard,
.lettersGuessed,
.category h2 {
    font-family: 'Pangolin';
}

.title,
.lettersGuessed,
.category h2 {
    text-transform: uppercase;
}

.title {
    font-size: 35px;
    text-align: center;
    padding: 10px 0 30px;
}

.lettersGuessed {
    font-size: 28px;
}

.grade {
    font-size: 30px;
}
