.reportCardDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 200px;
    margin: 0 auto;
}

.reportCard {
    background-color: transparent;
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.subject {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
}

.subject h3 {
    width: 50%;
}

.js {
    display: none;
}

.grade {
    visibility: hidden;
    position: absolute;
    left: 200px;
}

.visible {
    visibility: visible;
}

.category {
    text-align: center;
    padding-top: 15px;
}