body {
    background: darkslategray;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: red;
}

.word {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.letters {
    width: 100px;
    text-align: center;
    border-bottom: 1px solid white;
    margin: 5px;
    color: transparent;
}

.lettersGuessed {
    color: black;
}

.options {
    text-align: center;
}

button {
    width: 60px;
}

.line {
    border-bottom: 1px solid white;
}

